<h2>Entrar</h2>

<%= form_with url: login_path, class: "form-card" do %>
  <div class="field">
    <label>Email</label><br>
    <input type="email" name="email">
  </div>

  <div class="field">
    <label>Senha</label><br>
    <input type="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Entrar</button>
<% end %>

<%= link_to "Criar conta", sign_up_path, class: "btn btn-link" %>
